<a href="https://colab.research.google.com/github/csetapan/Plot_With_matplotlib/blob/main/Plot_Using_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Plot using matplot lib

Creating and customizing our first plot

In [ ]:
import matplotlib.pyplot as plt
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y)
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.show()

Two plots in same graph

In [ ]:
import matplotlib.pyplot as plt
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y)
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.plot(x,y1)
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.show()

Adding legends to the plot

In [ ]:
import matplotlib.pyplot as plt
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y,label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.plot(x,y1,label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.show()

Formatting the plot
fmt = '[marker][line][color]'

1.   marker description
      '.'   point marker
      ','   pixel marker
      'o'   circle marker
      'v'   tringle_down marker
      '^'   tringle_up marker
      '<'   tringle_left marker
      '>'   tringle_right marker
      '1'   tri_down marker
      '2'   tri_up marker
      '3'   tri_left marker
      '4'   tri_right marker
      's'   square marker
      'p'   pentagon marker
      '*'   star marker
      'h'   hexagon1 marker
      'H'   hexagon2 marker
      '+'   plus marker
      'x'   x marker
      'D'   Diamond marker
      'd'   thin marker
      '|'   vline marker
      '_'   hline marker
      

2.   Line style description
      '-'   solid line style
      '--'  dashed line style
      '-.'  dashed dot line style
      ':'   dotted line style


3.   Color description
      'b'  blue color
      'g'  green color
      'r'  red color
      'c'  cyan color
      'm'  magneta color
      'y'  yellow color
      'k'  black color

In [ ]:
#Implementing '[marker][line][color]'
import matplotlib.pyplot as plt
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y,'o--r',label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.plot(x,y1,'d--y',label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.show()

Increasing the line width

In [ ]:
#Implementing line width
import matplotlib.pyplot as plt
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y,'o--r',linewidth=3,label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.plot(x,y1,'d--y',linewidth=1,label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.show()

Grid the plot

In [ ]:
#Gridding the plot
import matplotlib.pyplot as plt
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y,'o--r',linewidth=3,label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.plot(x,y1,'d--y',linewidth=1,label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.grid(True)
plt.show()

Different style of plot


1.   default
2.   ggplot
3.   seaborn
4.   dark_background
5.   grayscale

In [ ]:
#Stylling the plot
import matplotlib.pyplot as plt
plt.style.use('dark_background')
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y,'o--r',linewidth=3,label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.plot(x,y1,'d--y',linewidth=1,label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.grid(True)
plt.show()

Save the file in current directory

In [ ]:
#Saving in current directory
import matplotlib.pyplot as plt
plt.style.use('dark_background')
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.plot(x,y,'o--r',linewidth=3,label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.plot(x,y1,'d--y',linewidth=1,label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.grid(True)
plt.savefig('Age_slary.png')
plt.show()

##Bar Charts and analyzing data from CSV

In [ ]:
#Bar chart
import matplotlib.pyplot as plt
plt.style.use('dark_background')
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
plt.bar(x,y,label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.bar(x,y1,label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.grid(True)
plt.savefig('Age_slary.png')
plt.show()

But our bar charts are over lapping, if we want to plot all the bar charts side by side

In [ ]:
#Bar chart
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('dark_background')
x = [25,26,27,28,29,30,31,32,33,34,35]
y = [38496, 42000, 46752, 49320, 53200,
     56000, 62316, 64928, 67317, 68748, 73752]
x_indices = np.arange(len(x))
width = 0.5
plt.bar(x_indices-width,y,width=width,label='Salary in UK')
y1 = [45372, 48876, 53850, 57287, 63016, 65998, 70003, 70000, 71496, 75370, 83640]
plt.bar(x_indices,y1,width=width,label='Salary in USA')
plt.xlabel('Ages')
plt.ylabel('Median salary (USD)')
plt.title('Median salary (USD) by Age')
plt.legend(['Salary in UK','Salary in USA'])
plt.grid(True)
plt.savefig('Age_slary.png')
plt.show()

Different asthetic style of the plot is available, we can choose any one according to our need

In [ ]:
print(plt.style.available)

['Solarize_Light2', '_classic_test_patch', '_mpl-gallery', '_mpl-gallery-nogrid', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-v0_8', 'seaborn-v0_8-bright', 'seaborn-v0_8-colorblind', 'seaborn-v0_8-dark', 'seaborn-v0_8-dark-palette', 'seaborn-v0_8-darkgrid', 'seaborn-v0_8-deep', 'seaborn-v0_8-muted', 'seaborn-v0_8-notebook', 'seaborn-v0_8-paper', 'seaborn-v0_8-pastel', 'seaborn-v0_8-poster', 'seaborn-v0_8-talk', 'seaborn-v0_8-ticks', 'seaborn-v0_8-white', 'seaborn-v0_8-whitegrid', 'tableau-colorblind10']

##Pie Charts

In [ ]:
import matplotlib.pyplot as plt

slice = [60, 40]
labels = ['sixty','forty']
plt.pie(slice,labels = labels)
plt.title('Example of Pie Chart')
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt

slice = [60, 40]
colors = ['red','blue']
labels = ['sixty','forty']
plt.pie(slice,labels = labels,colors = colors)
plt.title('Example of Pie Chart')
plt.tight_layout()
plt.show()

Exploding a portion of a pie chart using explode

In [ ]:
import matplotlib.pyplot as plt

slice = [45321, 40231, 34562, 29801, 19023]
colors = ['red','blue']
labels = ['Delhi','Mumbai','Kolkota','Pune','Bhubaneswar']
explode = [0,0,0,0.2,0]
plt.pie(slice,labels = labels,colors = colors, explode = explode)
plt.title('Example of Pie Chart')
plt.tight_layout()
plt.show()

Stack plot

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')

labels = ['Athelete1','Athelete2','Athelete3']


Session_Game = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
Points_Score_Athelete1 = [1,1,1,0,1,3,2,2,2,3,4,4,4,3,3,5,6,7,8,9]
Points_Score_Athelete2 = [0,1,1,2,2,3,3,3,3,2,4,4,3,3,4,5,6,6,7,7]
Points_Score_Athelete3 = [0,1,1,1,1,1,2,2,2,2,2,2,3,3,4,4,4,5,5,5]

plt.stackplot(Session_Game,Points_Score_Athelete1,Points_Score_Athelete2,Points_Score_Athelete3,labels = labels)
plt.title('Session wise performance by each player')
plt.legend(loc = 'upper left') # to position the legends
#plt.legend(loc = (0.07,0.05))
#plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')

labels = ['Athelete1','Athelete2','Athelete3']

#colors can be choosen
colors = ['red','blue','green']

Session_Game = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
Points_Score_Athelete1 = [1,1,1,0,1,3,2,2,2,3,4,4,4,3,3,5,6,7,8,9]
Points_Score_Athelete2 = [0,1,1,2,2,3,3,3,3,2,4,4,3,3,4,5,6,6,7,7]
Points_Score_Athelete3 = [0,1,1,1,1,1,2,2,2,2,2,2,3,3,4,4,4,5,5,5]

plt.stackplot(Session_Game,Points_Score_Athelete1,Points_Score_Athelete2,Points_Score_Athelete3,labels = labels, colors = colors)
plt.title('Session wise performance by each player')
plt.legend(loc = 'upper left') # to position the legends
#plt.tight_layout()
plt.show()

In [ ]:
help(plt.legend)

Histogram

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
#plt.style.use('dark_background')
ages = [18, 20, 24, 26, 28, 31, 23, 22, 35, 36, 39, 42]
plt.hist(ages, bins = 5, edgecolor = 'red')
plt.title("Histogram representation of different age group")
plt.xlabel('Ages')
plt.ylabel('No.of persons')
plt.show()

Analyzing data from CSV file, here we will go for standard csv file

In [ ]:
import csv
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('dark_background')
with open('/content/sample_data/california_housing_test.csv','r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    row = next(csv_reader)
    print(row)

In [ ]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
file_path = '/content/sample_data/california_housing_test.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the head of the DataFrame
print(df.head())

In [ ]:
print(df.shape[0])
bins = [1000, 2000, 3000]
plt.hist(df['total_bedrooms'], bins = bins, edgecolor = 'red')
plt.title("Histogram representation of different age group")
#median = np.median(df['total_bedrooms'])
#plt.axvline(median,color = 'red', label = 'Median Bed_room')
plt.xlabel('X')
plt.ylabel('Y')
plt.show()

Scatter plot

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('seaborn')

x = [1,3,5,6,7,9,3,1,5,7,1,6,3,6,9,2,3,4]
y = [3,5,6,7,9,5,8,1,9,3,4,7,2,5,7,3,4,5]

plt.scatter(x,y,c = 'red')
#setting size of scatter dots
#plt.scatter(x,y,c = 'red', s = 10)
#plt.scatter(x,y,c = 'red', s = 100, edgecolor = 'green')
#plt.scatter(x,y,c = 'red', s = 100, edgecolor = 'green',alpha = 0.75)
#colors = [4,5,1,2,7,9,2,5,7,1,4,9,3,4,2,9,1,7]
#plt.scatter(x,y,c = colors, s = 100, edgecolor = 'green')
#color map i.e. cmap
#plt.scatter(x,y,c = colors, s = 100, edgecolor = 'green',cmap = 'Accent')
#cbar = plt.colorbar()
plt.title('Scatter plot')
plt.xlabel('X')
plt.ylabel('Y')
plt.show()

Statistics of your data set

In [ ]:
import pandas as pd
from scipy import stats

# Replace 'your_file.csv' with the path to your CSV file
file_path = '/content/sample_data/california_housing_test.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display basic statistics of the dataset
print("Descriptive Statistics:")
print(df.describe())

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('/content/sample_data/california_housing_test.csv')

rooms = data['total_rooms']
house_value = data['median_house_value']

plt.plot(rooms,house_value)
plt.title('California Housing Prices')
plt.xlabel('Total Rooms')
plt.ylabel('Median House Value')
plt.tight_layout()
plt.show()

In [ ]:
bed_rooms = data['total_bedrooms']
latitude = data['latitude']
households = data['households']

plt.scatter(latitude,bed_rooms,color = 'red')
plt.scatter(latitude,house_value)
plt.title('California Housing Prices')
plt.xlabel('Total Rooms')
plt.ylabel('Median House Value')
plt.tight_layout()
plt.show()

In [ ]:
!pip install kaggle
!mkdir ~/.kaggle
!cp /content/drive/MyDrive/kaggle_API_credential/kaggle.json ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download

In [ ]:
!unzip

In [ ]:
# Replace 'your_file.csv' with the path to your CSV file
file_path = ''

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display basic statistics of the dataset
print("Descriptive Statistics:")
print(df)

In [ ]:
print(df)